# format options
--wrapparameters after-first
--allman false
--enable andOperator
--enable blankLinesBetweenScopes
--enable blankLinesAroundMark
--enable consecutiveBlankLines
--wraparguments before-first
--wrapcollections before-first
--wrapparameters after-first
--enable consecutiveSpaces
--guardelse same-line
--emptybraces no-space
--extensionacl on-extension
--patternlet hoist
--enable isEmpty
--enable leadingDelimiters
--enable modifierOrder
--enable redundantBreak
--enable redundantExtensionACL
--disable organizeDeclarations
--enable redundantFileprivate
--enable redundantInit
--enable redundantNilInit
--enable redundantParens
--enable redundantRawValues
--enable redundantReturn
--xcodeindentation enabled
--enable redundantType
--enable sortedImports
--enable spaceAroundBraces
--elseposition same-line
--header " Copyright (c) {year} Sleepy."
--self insert
--funcattributes prev-line

# file options
--exclude Pods